<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/footer.css" rel="stylesheet">
        <meta name="description" content="">
    <style>
        
    </style>
    </head>
<footer>
    <div  class="row justify-content-center m-0">

        <div id='all'  >
            <p id='topic' style="text-align: center;color: white;">Smilejob.com</p>
            <div >
            <p>946/1 Soi Thoet Thai 20/1,Thoet Thai Road</p>
            <p>Talat Phlu , Thonburi,Bangkok 10600</p>
            
            </div>
            <div>
                <p>Call : 089-660-5873 </p>
                    <p> Email : Komsark_@hotmail.co.th</p>
            
            </div>
        </div>

        <p id='map'><iframe id='map'src="https://www.google.com/maps/d/u/0/embed?mid=1SaWbuhoax5nEk1erLUbZsCtE1bIyX4a_"   frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
   
        <hr class="socket">
        <p id='copy'>
        &copy; SmileJob
        </p>

    </div>
</footer>

