<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/navbar.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="description" content="">
      
    
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">SmileJob</a>
            </div>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <% if(!currentUser) { %>
            <div class="collapse navbar-collapse" id="fix">
              <ul class="navbar-nav ml-auto" id="fix">
                <li class="nav-item">
                  <a  class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/jobseeker/findjob"">Finding</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">ContracUs</a>
                </li>
                
     
             
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Sign Up
                  </a>
              
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item active" href="/jobseeker/signup">For JobSeekers</a>
                    <a class="dropdown-item" href="/company/signup">For Companies</a>
                  </div>
                </li>
           
                
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-toggle="modal" data-target="#ModalJob">For JobSeekers</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#ModalCom" >For Companies</a>
                  </div>
                </div>
              </div>
                <% } %>

                <% if(currentUser) { %>
                  <% if(currentUser.industry) { %>
                    <div style="margin-right:100px;">
                    <ul class="navbar-nav ml-auto" id="fix">
                    
                    <div class="btn-group">
                      <a   class="nav-link" data-toggle="dropdown" aria-expanded="false">PostJob</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/job/new" >Post</a>
                        <a class="dropdown-item" href="/company/postjob/edit" >Update/Edit</a>
                      </div>
                    </div>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">ContracUs</a>
                    </li>
              
                  
                    <div class="btn-group">
                      <a  class="nav-link" data-toggle="dropdown" aria-expanded="false">Profile</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/company/profile" >Profile</a>
                        <a class="dropdown-item" href="/company/profile/new" >Update/Edit Profile</a>
                      </div>
                    </div>

               
               
                  
                  <a style="margin-left:20px" href="/logout" type="button" class="btn btn-outline-primary" >Logout</a>
            
              </div>
                  <% } %>
                  <% if(currentUser.industry==null) { %>
                    <div style="margin-right:100px;">
                    <ul class="navbar-nav ml-auto" id="fix">
                    <li class="nav-item">
                      <a  class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jobseeker/findjob">Finding</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">ContracUs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jobseeker/resume">Resume</a>
                  </li>

                  <div class="btn-group">
                    <a  class="nav-link" data-toggle="dropdown" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/jobseeker/profile" >Profile</a>
                      <a class="dropdown-item" href="/jobseeker/profile/new" >Update/Edit Profile</a>
                    </div>
                  </div>


                  <a style="margin-left:20px" href="/logout" type="button" class="btn btn-outline-primary" >Logout</a>
                    </div>
                     <% } %>
                    <% } %>
            </ul>
            </nav>

            <div class="modal  fade" id="ModalCom" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
              <div class="modal-dialog" >
                  <div class="modal-content">
                      <div class="modal-header">
                          
                      </div>
                      <div class="modal-body">
                        <form  action="/company/login" method="POST">
                          <div style="margin-left: 30px;margin-right: 30px;" class="form-group row">
                            <div class="form-group col-md-12">
                              <h1 style="margin-left:105px;">Company</h1>
                              <label for="validCustomUsername">Username</label>
                              <div class="input-group">
                               
                                <input name="username" type="text" class="form-control" id="validCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Username" required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div> 
                            </div>
                            
                            <div class="form-group col-md-12">
                              <label  for="inputPassword">Password</label>
                              <input name="password" style="margin-bottom:10px;"type="password" class="form-control" id="inputPassword" value="" placeholder="password" required>
                              <div class="invalid-feedback">
                                  Must be 8-20 characters long.
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <div style="margin-top:10px;" class="custom-control custom-checkbox">
                                  <input  type="checkbox" class="custom-control-input" id="customCheck1">
                                  <label  class="custom-control-label" for="customCheck1">Remember Password</label>
                                  <a  href="#">Forgot Password?</a>
                                  
                              </div>
                          </div>
                          <button style="margin-top:30px;margin-left: 180px;" type="submit" class="btn btn-primary">Login</button>
                      </div>
                    </form>
                
                      
                  
                  </div>
              </div>
          </div>
         
            
          <div class="modal  fade" id="ModalJob" tabindex="-1" role="dialog" >
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        
                    </div>
                    <div class="modal-body">
                      <form  action="/jobseeker/login" method="POST">
                        <div style="margin-left: 30px;margin-right: 30px;" class="form-group row">
                          <div class="form-group col-md-12">
                            <h1 style="margin-left:100px;">Jobseeker</h1>
                            <label for="validCustomUsername">Username</label>
                            <div class="input-group">
                             
                              <input name="username" type="text" class="form-control" id="validCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Username" required>
                              <div class="invalid-feedback">
                                Please choose a username.
                              </div>
                            </div> 
                          </div>
                        
                          <div class="form-group col-md-12">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" value="" placeholder="password" required>
                            <div class="invalid-feedback">
                                Must be 8-20 characters long.
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <div style="margin-top:10px;" class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember Password</label>
                                <span><a href="#">Forgot Password?</a></span>
                                
                            </div>
                        </div>
                        <button style="margin-top:30px;margin-left: 180px;" class="btn btn-primary" type="submit">LOG IN</button>
                    </div>
                  </form>
              
                  
                
                </div>
            </div>
        </div>
 
            