<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/navbar.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="description" content="">
      
    
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">SmileJob<i style="margin-left: 10px;" class="fas fa-user-md"></i></a>
            </div>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <% if(!currentUser) { %>
            <div style="margin-right: 140px;" class="collapse navbar-collapse" id="fix">
              <ul class="navbar-nav ml-auto" id="fix">
                <li class="nav-item">
                  <a  class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/job/findjob">Finding</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contrac&nbspUs</a>
                </li>
                
     
             
                
              
                
                <div style="margin-left: 650px;margin-right: 100px;" class="btn-group">
                  <button  type="button" class="btn btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/jobseeker/login">For JobSeekers</a>
                    <a class="dropdown-item" href="/company/login" >For Companies</a>
                  </div>
                </div>
              </div>
                <% } %>

                <% if(currentUser) { %>
                  <% if(currentUser.CompanyName) { %>
                    <div style="margin-right: 400px;">
                    <ul class="navbar-nav ml-auto" id="fix">
                    
                    <div class="btn-group">
                      <a   class="nav-link" data-toggle="dropdown" aria-expanded="false">PostJob</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/job/new" >Post</a>
                        <a class="dropdown-item" href="/job/joblist" >History&nbspPost</a>
                      </div>
                    </div>
                    <li class="nav-item">
                      <a class="nav-link" href="/job/jobapplication" >Job&nbspApplication</a>
                  </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contracs&nbspUs</a>
                    </li>
              
                  
                    <li class="nav-item">
                      <a class="nav-link" href="/company/profile">Profile</a>
                  </li>

               
                  </div>
                  
                  <a style="margin-left: 100px;margin-right: 100px;" href="/logout" type="button" class="btn btn-outline-primary" >Logout</a>
            
             
                  <% } %>
                  <% if(currentUser.CompanyName==null) { %>
                    <div style="margin-right:460px;">
                    <ul class="navbar-nav ml-auto" id="fix">
                   
                    <li class="nav-item">
                      <a class="nav-link" href="/job/findjob">Finding</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jobseeker/applyjob">Apply&nbspJob</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contrac&nbspUs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jobseeker/resume">Resume</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/jobseeker/profile">Profile</a>
                </li>

                </div>
                  <a style="margin-right: 100px;" href="/logout" type="button" class="btn btn-outline-primary" >Logout</a>
                   
                     <% } %>
                    <% } %>
            </ul>
            </nav>

            
                  </form>
              
                  
                
                </div>
            </div>
        </div>
 
        <div class='container'>
          <% if (error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
          <% } %>
          <% if (success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
              <%= success %>
            </div>
          <% } %>
        </div>