<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/profileJob.css">
    </head>
    <body>
    <div style="display: flex;margin-top: 100px;margin-left: 50px;margin-right: 50px;">
        <div class=" col-lg-6 col-md-6 col-sm-12" >
            <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                <div style="background-color:#fa9a85 ;" class="panel panel-default margin-bottom" >
                   
                        
                        <p style="background-color:#5a3e36;padding-bottom: 3px;text-align: center;color: white;font-size:50px;">Smilejob.com</p>

                   
<div style="text-align: center;margin-top: 70px;margin-bottom:65px;font-size: 25px;" class="container""  id="detail"> 

<div >
    <p>946/1 Soi Thoet Thai 20/1,Thoet Thai Road</p>
<p>Talat Phlu , Thonburi,Bangkok 10600</p>

</div>
<div>
    <p>Call : 089-660-5873 </p>
        <p> Email : Komsark_@hotmail.co.th</p>

</div>
</div>

</div>
</div>
</div>

    <div class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
        <div style="background-color:#c0ab8e;" class="panel panel-default margin-bottom" >
            <div style="margin-top: 15px;" class=" col-sm-12 col-lg-6 col-md-6">
<p><iframe style="width: 590px;height: 370px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1494.9552590138494!2d100.6004820889737!3d13.631329862369775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x133e221e4499d09c!2zNy1FbGV2ZW4g4LiB4Lil4Liy4LiH4LiL4Lit4Lii4Lio4Lij4Li14Lia4Li44LiN4LmA4Lij4Li34Lit4LiH4oCLIDExNTM0!5e0!3m2!1sth!2sth!4v1587109329390!5m2!1sth!2sth"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
</div>
</div>
</div>

</div>
</body>
</html>








<%- include("partials/footer") %>