<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SmileJob.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="content">
      <div id="eiei" class="w3-content w3-section">
        <div id="a" style="margin-top: 100px;" class="container">
          <img
            style="
              max-width: 100%;
              width: 1000px;
              object-position: 50% 0;
              object-fit: cover;
              box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, 0.5);
            "
            class="mySlides"
            src="https://static.workventure.com/uploads/images/companies/gallery/original/image1-%E0%B8%AA%E0%B8%A1%E0%B8%B1%E0%B8%84%E0%B8%A3%E0%B8%87%E0%B8%B2%E0%B8%99-%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97-%E0%B9%82%E0%B8%81%E0%B9%82%E0%B8%81%E0%B8%9E%E0%B8%A3%E0%B8%B4%E0%B9%89%E0%B8%99%E0%B8%97%E0%B9%8C-%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%99%E0%B8%94%E0%B9%8C-%E0%B8%88%E0%B8%B3%E0%B8%81%E0%B8%B1%E0%B8%94-378.png"
          />
          <img
            style="
              max-width: 100%;
              width: 1000px;
              object-position: 50% 0;
              object-fit: cover;
              box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, 0.5);
            "
            class="mySlides"
            src="https://www.jobsugoi.com/images/news/15/article_15.jpg"
          />
          <img
            style="
              max-width: 100%;
              width: 1000px;
              object-position: 50% 0;
              object-fit: cover;
              box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, 0.5);
            "
            class="mySlides"
            src="https://www.tisco.co.th/content/dam/tiscobank/feature/career-feature-mobile.jpg"
          />
        </div>
      </div>

      <a
        href="/job/findjob"
        class="btn2 btn-primary"
        id="butindex"
        type="submit"
        >Enter to Website</a
      >
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
          myIndex = 1;
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
      }
    </script>
  </body>
  <style>
    img {
      height: 500px;
    }
    a#butindex {
      font-size: 50px;
    }
    .content {
      min-height: 800px;
    }
    @media screen and (max-width: 1024px) {
      div#eiei {
        width: 90%;
      }
      a#butindex {
        margin-left: 250px;
        font-size: 50px;
      }
      .content {
        min-height: 760px;
      }
    }
    @media screen and (max-width: 823px) {
      img {
        height: 400px;
      }
      a#butindex {
        margin-left: 125px;
        font-size: 50px;
      }
      .content {
        min-height: 680px;
      }
    }
    @media screen and (max-width: 812px) {
      img {
        height: 400px;
      }
      a#butindex {
        margin-left: 130px;
        font-size: 50px;
      }
      .content {
        min-height: 680px;
      }
    }
    @media screen and (max-width: 768px) {
      img {
        height: 400px;
      }
      a#butindex {
        margin-left: 130px;
        font-size: 50px;
      }
      .content {
        min-height: 680px;
      }
    }
    @media screen and (max-width: 736px) {
      img {
        height: 400px;
      }
      a#butindex {
        margin-left: 96px;
        font-size: 50px;
      }
      .content {
        min-height: 680px;
      }
    }
    @media screen and (max-width: 731px) {
      img {
        height: 400px;
      }
      a#butindex {
        margin-left: 100px;
        font-size: 50px;
      }
      .content {
        min-height: 680px;
      }
    }
   
    @media screen and (max-width: 667px) {
      img {
        height: 400px;
      }
      a#butindex {
        margin-left: 70px;
        font-size: 50px;
      }
      .content {
        min-height: 680px;
      }
    }
    @media screen and (max-width: 425px) {
      .content {
        min-height: 480px;
      }
      img {
        height: 280px;
        width: 200px;
      }
      a#butindex {
        margin-left: 70px;
        font-size: 20px;
      }
    }
    @media screen and (max-width: 375px) {
      .content {
        min-height: 440px;
      }
      img {
        height: 250px;
      }
      a#butindex {
        margin-left: 78px;
        font-size: 20px;
        padding: 15px 20px 15px 20px;
      }
    }
    @media screen and (max-width: 320px) {
      .content {
        min-height: 420px;
      }
      img {
        height: 230px;
      }
      a#butindex {
        margin-left: 55px;
        font-size: 20px;
        padding: 15px 20px 15px 20px;
      }
    }
  </style>
</html>

<%- include("partials/footer") %>
