<%- include("partials/headerafter") %>


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          
        <link rel="stylesheet" href="/profileJob.css">
       
       
    </head>
  
<div class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- step 1 -->
    
    <div style="margin-left: 20px; margin-right: 20px;" class="panel panel-default margin-bottom" id="step1">
<h1 style="text-align: center;">My Resume</h1>

<h2>Resume File *</h2>
<a style="margin-bottom: 30px;margin-left: 500px;" class="btn2 btn-primary" type="submit">Save</a>
    </div>
</div>
<%- include("partials/footer") %>