
<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/profileJob.css">
       
    </head>
<div style="padding: 10px 10px 10px " class="bg-drtail overflow-hidden">
            
    <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
        <div style="background-color:gainsboro;" class="panel panel-default margin-bottom" >
            <p><%= showjob.CompanyName %></p>

            </div>
        </div>
    </div>


<%- include("partials/footer") %>