<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          
        <link rel="stylesheet" href="/jobseeker/signup.css">
       
       
    </head>
    <body>
      
        <div  class="container1">
            <div  class="img">
                <img  src="../picture/mobile.png">
            </div>
            <div   class="login-content">
             <form  id="edit"  action="/jobseeker/signup" method="POST">
                 <img class="imgava" src="../picture/avatar.png">
                 <div id="content" class="form-group row">
                     <div class="form-group col-md-12 ">
                         <label for="validCustomUsername">Username</label>
                         <div  class="input-group">
                             <input  name="username" type="text" class="form-control" id="validCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Username" required>
                             <div class="invalid-feedback">
                                 Please choose a username.
                             </div>
                         </div> 
                     </div>
                     <div class="form-group col-md-12">
                         <label for="inputUsername">Email</label>
                         <input type="email" name="email" class="form-control" id="inputUsername" value="" placeholder="email@mail.com" required>
                         <div class="invalid-feedback">
                             Please enter an email.
                         </div>
                     </div>
                     <div class="form-group col-md-12">
                         <label for="inputPassword">Password</label>
                         <input type="password" name="password" class="form-control" id="inputPassword" value="" placeholder="password" required>
                         <div class="invalid-feedback">
                             Must be 8-20 characters long.
                         </div>
                     </div>
                     <div class="form-group col-md-12">
                         <label for="inputConfirmPassword">Confirm&nbspPassword</label>
                         <input type="password" class="form-control" id="inputConfirmPassword" value="" placeholder="password" required>
                         <div class="invalid-feedback">
                             Must be 8-20 characters long.
                         </div>
                     </div>
              
                     <div class="form-group">
                         <div class="custom-control custom-checkbox">
                             <input class="custom-control-input" type="checkbox" value="" id="invalidCheck" required>
                             <label class="custom-control-label" for="invalidCheck">
                               Agree&nbspto&nbspterms&nbspand&nbspconditions
                             </label>
                             <div class="invalid-feedback">
                               You must agree before submitting.
                             </div>
                           </div>
                     </div>
                     <button id='sign' class="btn2 btn-primary" type="submit">SIGN UP</button>
                    </div>
             </form>
            </div>
        </div>
        <script>
            const inputs = document.querySelectorAll(".input");

            function addcl(){
                let parent = this.parentNode.parentNode;
                parent.classList.add("focus");
            }

            function remcl(){
                let parent = this.parentNode.parentNode;
                if(this.value == ""){
                    parent.classList.remove("focus");
                }
            }

            inputs.forEach(input => {
                input.addEventListener("focus", addcl);
                input.addEventListener("blur", remcl);
            });
       </script>
    </body>
    <style>
      
      div.container1{
min-height: 800px;
    }
        @media screen and (max-width: 1024px) {
            div.container1{
            display: grid;
        grid-template-columns:100%;
        }
  div.login-content{
    display: flex;
justify-content: center;
align-items: center;


  }
  div.img{
    position: relative;
      right:  220px;
  } 
    
   
        }
        @media screen and (max-width: 768px) {
            div.login-content{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
  }
        }
        @media screen and (max-width: 425px) {
        
            div.login-content{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
  }
    }
        
        @media screen and (max-width: 375px) {
       
         
        }
        @media screen and (max-width: 320px) {
            
            
            div.login-content{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
  }
        }
        
               </style>
</html>
<%- include("partials/footer") %>